# Preparing Data for Use

In [1]:
from scipy.io import arff
import numpy as np
import pandas as pd

In [2]:
# data is originally provided in arff format
data = arff.loadarff('data/bone-marrow.arff')
df = pd.DataFrame(data[0])

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 37 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   donor_age                  187 non-null    float64
 1   donor_age_below_35         187 non-null    object
 2   donor_ABO                  187 non-null    object
 3   donor_CMV                  187 non-null    object
 4   recipient_age              187 non-null    float64
 5   recipient_age_below_10     187 non-null    object
 6   recipient_age_int          187 non-null    object
 7   recipient_gender           187 non-null    object
 8   recipient_body_mass        185 non-null    float64
 9   recipient_ABO              187 non-null    object
 10  recipient_rh               187 non-null    object
 11  recipient_CMV              187 non-null    object
 12  disease                    187 non-null    object
 13  disease_group              187 non-null    object
 14  gender_match               187 non-null    object
 15  ABO_match                  187 non-null    object
 16  CMV_status                 187 non-null    object
 17  HLA_match                  187 non-null    object
 18  HLA_mismatch               187 non-null    object
 19  antigen                    187 non-null    object
 20  allel                      187 non-null    object
 21  HLA_group_1                187 non-null    object
 22  risk_group                 187 non-null    object
 23  stem_cell_source           187 non-null    object
 24  tx_post_relapse            187 non-null    object
 25  CD34_x1e6_per_kg           187 non-null    float64
 26  CD3_x1e8_per_kg            182 non-null    float64
 27  CD3_to_CD34_ratio          182 non-null    float64
 28  ANC_recovery               187 non-null    float64
 29  PLT_recovery               187 non-null    float64
 30  acute_GvHD_II_III_IV       187 non-null    object
 31  acute_GvHD_III_IV          187 non-null    object
 32  time_to_acute_GvHD_III_IV  187 non-null    float64
 33  extensive_chronic_GvHD     187 non-null    object
 34  relapse                    187 non-null    object
 35  survival_time              187 non-null    float64
 36  survival_status            187 non-null    object
dtypes: float64(10), object(27)
memory usage: 54.2+ KB

In [4]:
# let's look at the what the initial data frame looks like
df.head()

,donor_age,donor_age_below_35,donor_ABO,donor_CMV,recipient_age,recipient_age_below_10,recipient_age_int,recipient_gender,recipient_body_mass,recipient_ABO,...,CD3_to_CD34_ratio,ANC_recovery,PLT_recovery,acute_GvHD_II_III_IV,acute_GvHD_III_IV,time_to_acute_GvHD_III_IV,extensive_chronic_GvHD,relapse,survival_time,survival_status
0,22.830137,b'yes',b'A',b'present',9.6,b'yes',b'5_10',b'male',35.0,b'A',...,1.338760,19.0,51.0,b'yes',b'yes',32.0,b'no',b'no',999.0,b'0'
1,23.342466,b'yes',b'B',b'absent',4.0,b'yes',b'0_5',b'male',20.6,b'B',...,11.078295,16.0,37.0,b'yes',b'no',1000000.0,b'no',b'yes',163.0,b'1'
2,26.394521,b'yes',b'B',b'absent',6.6,b'yes',b'5_10',b'male',23.4,b'B',...,19.013230,23.0,20.0,b'yes',b'no',1000000.0,b'no',b'yes',435.0,b'1'
3,39.684932,b'no',b'A',b'present',18.1,b'no',b'10_20',b'female',50.0,b'AB',...,29.481647,23.0,29.0,b'yes',b'yes',19.0,b'?',b'no',53.0,b'1'
4,33.358904,b'yes',b'A',b'absent',1.3,b'yes',b'0_5',b'female',9.0,b'AB',...,3.972255,14.0,14.0,b'no',b'no',1000000.0,b'no',b'no',2043.0,b'0'

In [5]:
# convert columns that are in bytes to strings

# select all columns with dtype: object
byte_columns = df.select_dtypes('object').columns

# convert from bytes to strings
for col in byte_columns:
    df[col] = df[col].str.decode('UTF-8')

In [6]:
# now non-numeric columns should have string entries
df.head()

,donor_age,donor_age_below_35,donor_ABO,donor_CMV,recipient_age,recipient_age_below_10,recipient_age_int,recipient_gender,recipient_body_mass,recipient_ABO,...,CD3_to_CD34_ratio,ANC_recovery,PLT_recovery,acute_GvHD_II_III_IV,acute_GvHD_III_IV,time_to_acute_GvHD_III_IV,extensive_chronic_GvHD,relapse,survival_time,survival_status
0,22.830137,yes,A,present,9.6,yes,5_10,male,35.0,A,...,1.338760,19.0,51.0,yes,yes,32.0,no,no,999.0,0
1,23.342466,yes,B,absent,4.0,yes,0_5,male,20.6,B,...,11.078295,16.0,37.0,yes,no,1000000.0,no,yes,163.0,1
2,26.394521,yes,B,absent,6.6,yes,5_10,male,23.4,B,...,19.013230,23.0,20.0,yes,no,1000000.0,no,yes,435.0,1
3,39.684932,no,A,present,18.1,no,10_20,female,50.0,AB,...,29.481647,23.0,29.0,yes,yes,19.0,?,no,53.0,1
4,33.358904,yes,A,absent,1.3,yes,0_5,female,9.0,AB,...,3.972255,14.0,14.0,no,no,1000000.0,no,no,2043.0,0

In [7]:
# convert missing data ('?') to NaN values
df = df.replace('?', np.nan)

In [8]:
# let's look at basic summary statistics
df.describe()

,donor_age,recipient_age,recipient_body_mass,CD34_x1e6_per_kg,CD3_x1e8_per_kg,CD3_to_CD34_ratio,ANC_recovery,PLT_recovery,time_to_acute_GvHD_III_IV,survival_time
count,187.000000,187.000000,185.000000,187.000000,182.000000,182.000000,187.000000,187.000000,187.000000,187.000000
mean,33.472068,9.931551,35.801081,11.891781,4.745714,5.385096,26752.866310,90937.919786,775408.042781,938.743316
std,8.271826,5.305639,19.650922,9.914386,3.859128,9.598716,161747.200525,288242.407688,418425.252689,849.589495
min,18.646575,0.600000,6.000000,0.790000,0.040000,0.204132,9.000000,9.000000,10.000000,6.000000
25%,27.039726,5.050000,19.000000,5.350000,1.687500,1.786683,13.000000,16.000000,1000000.000000,168.500000
50%,33.550685,9.600000,33.000000,9.720000,4.325000,2.734462,15.000000,21.000000,1000000.000000,676.000000
75%,40.117809,14.050000,50.600000,15.415000,6.785000,5.823565,17.000000,37.000000,1000000.000000,1604.000000
max,55.553425,20.200000,103.400000,57.780000,20.020000,99.560970,1000000.000000,1000000.000000,1000000.000000,3364.000000

In [9]:
# the maximum value in columns ANC_recovery, PLT_recovery, and time_to_acute_GvHD_III_IV is 1000000 days
# 1000000 days is equivalent to over 2700 years; this value is likely a placeholder for missing values
# let's convert these into NaNs

df.ANC_recovery = np.where(df.ANC_recovery==1000000, np.nan, df.ANC_recovery)
df.PLT_recovery = np.where(df.PLT_recovery==1000000, np.nan, df.PLT_recovery)
df.time_to_acute_GvHD_III_IV = np.where(df.time_to_acute_GvHD_III_IV==1000000, np.nan, df.time_to_acute_GvHD_III_IV)

In [10]:
# looking at the summary statistics, it should all seem plausible now
df.describe()

,donor_age,recipient_age,recipient_body_mass,CD34_x1e6_per_kg,CD3_x1e8_per_kg,CD3_to_CD34_ratio,ANC_recovery,PLT_recovery,time_to_acute_GvHD_III_IV,survival_time
count,187.000000,187.000000,185.000000,187.000000,182.000000,182.000000,182.000000,170.000000,42.000000,187.000000
mean,33.472068,9.931551,35.801081,11.891781,4.745714,5.385096,15.307692,31.711765,31.047619,938.743316
std,8.271826,5.305639,19.650922,9.914386,3.859128,9.598716,3.010818,37.009744,23.777374,849.589495
min,18.646575,0.600000,6.000000,0.790000,0.040000,0.204132,9.000000,9.000000,10.000000,6.000000
25%,27.039726,5.050000,19.000000,5.350000,1.687500,1.786683,13.000000,15.000000,16.250000,168.500000
50%,33.550685,9.600000,33.000000,9.720000,4.325000,2.734462,15.000000,21.000000,21.000000,676.000000
75%,40.117809,14.050000,50.600000,15.415000,6.785000,5.823565,17.000000,29.750000,35.500000,1604.000000
max,55.553425,20.200000,103.400000,57.780000,20.020000,99.560970,26.000000,285.000000,100.000000,3364.000000

In [11]:
# let's save this as a csv for future use
df.to_csv('data/bone_marrow.csv', index=False)